*{      /* MASTER CLEAR */
    margin: 0px;
    padding: 0px;
    border: none;
    text-decoration: none;
}
.elf-container{
    margin: 12px;
    font-family: "Calibri Light"; /*Calibri*/
    font-size: 12pt;
    color: #202020;
}
.elf-container-narrow{
    margin-left: 10%;
    margin-right: 10%;
}

.elf-container h1{
    margin-top: 36px;
    font-family: "Calibri";
    margin-bottom: 12px;
}
.elf-container h2{
    margin-top: 36px;
    font-family: "Calibri";
    margin-bottom: 12px;
}
.elf-container h3{
    margin-top: 36px;
    font-family: "Calibri";
    margin-bottom: 12px;
}
.elf-container h4{
    margin-top: 24px;
    font-family: "Calibri";
    margin-bottom: 12px;
}
.elf-container h5{
    margin-top: 24px;
    font-family: "Calibri";
    margin-bottom: 12px;
}
.elf-container h6{
    margin-top: 24px;
    font-family: "Calibri";
    margin-bottom: 12px;
}

.elf-container p{
    margin-bottom: 24px;
}

.elf-container .note{
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.elf-container .note-default{
    background: #eeeeee;
    border: 1px solid gray;
    border-left: 5px solid gray
}
.elf-container .note-blue{
    background: rgb(211, 211, 248);
    border: 1px solid rgb(34, 34, 109);
    border-left: 5px solid rgb(34, 34, 109);
}
.elf-container .note-red{
    background: rgb(252, 201, 201);
    border: 1px solid rgb(87, 2, 2);
    border-left: 5px solid rgb(87, 2, 2);
}
.elf-container .note-yellow{
    background: rgb(250, 240, 149);
    border: 1px solid rgb(224, 191, 0);
    border-left: 5px solid rgb(224, 191, 0);
}
.elf-container .note-green{
    background: rgb(181, 248, 172);
    border: 1px solid rgb(8, 63, 1);
    border-left: 5px solid rgb(8, 63, 1);
}

.elf-container a{
    color: rgb(214, 59, 3);
}
.elf-container a:visited{
    color: rgb(180, 2, 171);
}
.elf-container a:hover{
    text-decoration: underline;
}

/* Table */

.elf-container .table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}
.elf-container .table thead th{
    padding: 10px;
}
.elf-container .table tr td{
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid gray;
    font-family: "Calibri";
    text-align: center;
}

.elf-container .table-default thead th{
    background: #eeeeee;
}
.elf-container .table-default thead th:first-child, .elf-container .table-default tr td:first-child{
    border-left: 4px solid gray;
}
.elf-container .table-default thead th:last-child, .elf-container .table-default tr td:last-child{
    border-right: 4px solid gray;
}
.elf-container .table-black thead th{
    background: #101010;
    color: white;
}
.elf-container .table-black td{
    background: #202020;
    color: white;
}
.elf-container .table-black thead th:first-child, .elf-container .table-black tr td:first-child{
    border-left: 4px solid black;
}
.elf-container .table-black thead th:last-child, .elf-container .table-black tr td:last-child{
    border-right: 4px solid black;
}
.elf-container .table-blue thead th{
    background: rgb(211, 211, 248);
}
.elf-container .table-blue thead th:first-child, .elf-container .table-blue tr td:first-child{
    border-left: 4px solid rgb(34, 34, 109);
}
.elf-container .table-blue thead th:last-child, .elf-container .table-blue tr td:last-child{
    border-right: 4px solid rgb(34, 34, 109);
}
.elf-container .table-red thead th{
    background: rgb(252, 201, 201);
}
.elf-container .table-red thead th:first-child, .elf-container .table-red tr td:first-child{
    border-left: 4px solid rgb(87, 2, 2);
}
.elf-container .table-red thead th:last-child, .elf-container .table-red tr td:last-child{
    border-right: 4px solid rgb(87, 2, 2);
}
.elf-container .table-yellow thead th{
    background: rgb(255, 225, 125);
}
.elf-container .table-yellow thead th:first-child, .elf-container .table-yellow tr td:first-child{
    border-left: 4px solid rgb(173, 133, 0);
}
.elf-container .table-yellow thead th:last-child, .elf-container .table-yellow tr td:last-child{
    border-right: 4px solid rgb(173, 133, 0);
}
.elf-container .table-green thead th{
    background: rgb(181, 248, 172);
}
.elf-container .table-green thead th:first-child, .elf-container .table-green tr td:first-child{
    border-left: 4px solid rgb(8, 63, 1);
}
.elf-container .table-green thead th:last-child, .elf-container .table-green tr td:last-child{
    border-right: 4px solid rgb(8, 63, 1);
}

/* Panels */

.elf-container .panel{
    margin-top: 24px;
    margin-bottom: 24px;
}
.elf-container .phead{
    border-bottom: 1px solid gray;
    padding: 12px;
    padding-left: 10px;
    font-size: 130%;
    font-family: Verdana;
    font-weight: bold;
}
.elf-container .pbody{
    padding: 10px;
}
.elf-container .pfooter{
    border-top: 1px solid gray;
    padding: 4px;
    padding-left: 10px; 
    font-size: 70%;
    font-weight: bold;
}
.elf-container .panel-centered .phead, .elf-container .panel-centered .pfooter{
    text-align: center;
}
.elf-container .panel-default{
    border: 1px solid gray;
}
.elf-container .panel-default .phead{
    background: #cccccc;
}
.elf-container .panel-default .pfooter{
    background: gray;
}
.elf-container .panel-black{
    border: black;
    color: white;
}
.elf-container .panel-black .phead{
    background: black;
    border-color: black
}
.elf-container .panel-black .pbody{
    background: #202020;
}
.elf-container .panel-black .pfooter{
    background: #101010;
    border-color: black;
    color: gray;
}
.elf-container .panel-blue{
    border: 1px solid rgb(134, 156, 252);
}
.elf-container .panel-blue .phead{
    background: rgb(134, 156, 252);
    border-color: rgb(134, 156, 252);
}
.elf-container .panel-blue .pbody{
    background: rgb(191, 191, 250);
}
.elf-container .panel-blue .pfooter{
    background: rgb(134, 156, 252);
    border-color: rgb(134, 156, 252);
}
.elf-container .panel-red{
    border: 1px solid rgb(252, 107, 107);
}
.elf-container .panel-red .phead{
    background: rgb(252, 107, 107);
    border-color: rgb(252, 107, 107);
}
.elf-container .panel-red .pbody{
    background: rgb(255, 168, 168);
}
.elf-container .panel-red .pfooter{
    background: rgb(252, 107, 107);
    border-color: rgb(252, 107, 107);
}
.elf-container .panel-yellow{
    border: 1px solid rgb(224, 173, 6);
}
.elf-container .panel-yellow .phead{
    background: rgb(224, 173, 6);
    border-color: rgb(224, 173, 6);
}
.elf-container .panel-yellow .pbody{
    background: rgb(255, 225, 125);
}
.elf-container .panel-yellow .pfooter{
    background: rgb(224, 173, 6);
    border-color: rgb(224, 173, 6);
}
.elf-container .panel-green{
    border: 1px solid rgb(39, 138, 26);
}
.elf-container .panel-green .phead{
    background: rgb(39, 138, 26);
    border-color: rgb(39, 138, 26);
}
.elf-container .panel-green .pbody{
    background: rgb(170, 250, 159);
}
.elf-container .panel-green .pfooter{
    background: rgb(39, 138, 26);
    border-color: rgb(39, 138, 26);
}

/* Jumbobox */

.elf-container .jumbobox{
    margin-top: 12px;       /* Jumboboxes possuem uma margin vertical menor (12px) propositadamente */
    margin-bottom: 12px;
    padding: 16px;
    background: #cccccc;
    border: 1px solid gray;
    font-size: 130%;
    font-weight: bold;
}


/* List-set */

.elf-container .list-default{
    margin-bottom: 24px;
}
.elf-container .list-black{
    margin-bottom: 24px;
}
.elf-container .list-red{
    margin-bottom: 24px;
}
.elf-container .list-blue{
    margin-bottom: 24px;
}
.elf-container .list-green{
    margin-bottom: 24px;
}
.elf-container .list-yellow{
    margin-bottom: 24px;
}

.elf-container .list-default .list-item{
    list-style: none;
    padding: 10px;
    border: 1px solid gray;
    border-bottom: none;
}
.elf-container .list-default .list-item:last-child{
    list-style: none;
    padding: 10px;
    border: 1px solid gray;
    margin-bottom: 12px;
}
.elf-container .list-black .list-item{
    list-style: none;
    padding: 10px;
    color: #cccccc;
    background: #202020;
    border: 1px solid black;
    border-bottom: none;
}
.elf-container .list-black .list-item:last-child{
    list-style: none;
    padding: 10px;
    color: #cccccc;
    background: #202020;
    border: 1px solid black;
    margin-bottom: 12px;
}
.elf-container .list-blue .list-item{
    list-style: none;
    padding: 10px;
    background: rgb(191, 191, 250);
    border: 1px solid rgb(134, 156, 252);
    border-bottom: none;
}
.elf-container .list-blue .list-item:last-child{
    list-style: none;
    padding: 10px;
    background: rgb(191, 191, 250);
    border: 1px solid rgb(134, 156, 252);
    margin-bottom: 12px;
}
.elf-container .list-red .list-item{
    list-style: none;
    padding: 10px;
    background: rgb(255, 168, 168);
    border: 1px solid rgb(252, 107, 107);
    border-bottom: none;
}
.elf-container .list-red .list-item:last-child{
    list-style: none;
    padding: 10px;
    background: rgb(255, 168, 168);
    border: 1px solid rgb(252, 107, 107);
    margin-bottom: 12px;
}
.elf-container .list-yellow .list-item{
    list-style: none;
    padding: 10px;
    background: rgb(255, 225, 125);
    border: 1px solid rgb(224, 173, 6);
    border-bottom: none;
}
.elf-container .list-yellow .list-item:last-child{
    list-style: none;
    padding: 10px;
    background: rgb(255, 225, 125);
    border: 1px solid rgb(224, 173, 6);
    margin-bottom: 12px;
}
.elf-container .list-green .list-item{
    list-style: none;
    padding: 10px;
    background: rgb(170, 250, 159);
    border: 1px solid rgb(39, 138, 26);
    border-bottom: none;
}
.elf-container .list-green .list-item:last-child{
    list-style: none;
    padding: 10px;
    background: rgb(170, 250, 159);
    border: 1px solid rgb(39, 138, 26);
    margin-bottom: 12px;
}

/* Form */

.elf-container .elform{
    padding: 10px;
}
.elf-container .elform input{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    padding: 7px;
    border-bottom: 1px solid gray;
    vertical-align: center;
}
.elf-container .elform input:focus{     /* Remove o outline de quando a input é selecionada */
    outline: none;
}
.elf-container .elform [type = submit]{
    border: none;
    background: #cccccc;
    margin-left: 0;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Verdana;
}
.elf-container .elform select{
    margin: 10px;
    margin-left: 0;
    border: 1px solid gray;
    padding: 6px;
}
.elf-container .elform [type = radio]{
    margin-left: 0;
    background: none;
    margin-right: 10px;
}
.elf-container .elform [type = radio]:focus{
    background: none;
}
.elf-container .elform [type = checkbox]{
    margin-left: 0;
    background: none;
    margin-right: 10px;
}
.elf-container .elform [type = checkbox]:focus{
    background: none;
}
.elf-container .elform textarea{
    display: block;
    width: 100%;
    border: 1px solid gray;
    margin-top: 10px;
    margin-bottom: 10px;
}
.elf-container .elform .ta-small{
    height: 64px;
}
.elf-container .elform .ta-medium{
    height: 128px;
}
.elf-container .elform .ta-large{
    height: 256px;
}

/* Buttons */

.elf-container .btn-default{
    color: black;
    background: gray;
}
.elf-container .btn-black{
    color: white;
    background: #202020;
}
.elf-container .btn-blue{
    color: rgb(211, 211, 248);
    background: rgb(34, 34, 109);
}
.elf-container .btn-red{
    color:  rgb(252, 201, 201);
    background:  rgb(87, 2, 2);
}
.elf-container .btn-yellow{
    color: rgb(255, 225, 125);
    background: rgb(173, 133, 0);
}
.elf-container .btn-green{
    color: rgb(181, 248, 172);
    background: rgb(8, 63, 1);
}
.elf-container .btn{
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Verdana;
}
.elf-container .btn:hover{
    opacity: 0.7;
}
.elf-container .btn:active{
    opacity: 1;
}

/* Text */

.elf-container .ta-left{
    text-align: left;
}
.elf-container .ta-right{
    text-align: right;
}
.elf-container .ta-center{
    text-align: center;
}
.elf-container .ta-justify{
    text-align: justify;
}
.elf-container .tc-white{
    color: white;
}
.elf-container .tc-blue{
    color: rgb(27, 27, 87);
}
.elf-container .tc-red{
    color:  rgb(133, 0, 0);
}
.elf-container .tc-yellow{
    color: rgb(173, 133, 0);
}
.elf-container .tc-green{
    color: rgb(12, 94, 1);
}


.elf-container .row{
    display: table;
    width: 100%;
}

@media  (max-width: 576px){                             /* Media Phone */

    .elf-container .row .col-1{
        display: block;
    }

    .elf-container .row .col-2{
        display: block;
    }

    .elf-container .row .col-3{
        display: block;
    }

    .elf-container .row .col-4{
        display: table-cell;
        width: 33%;
        overflow: hidden;
    }
    .elf-container .row .col-6{
        display: table-cell;
        width: 50%;
        overflow: hidden;
    }
    .elf-container .row .col-8{
        display: table-cell;
        width: 66.5%;
        overflow: hidden;
    }
    .elf-container .row .col-10{
        display: table-cell;
        width: 83%;
        overflow: hidden;
    }
    .elf-container .row .col-12{
        display: table-cell;
        width: 100%;
        overflow: hidden;
    }
}

@media  (min-width: 578px) and (max-width: 1023px){      /* Media Tablet */

    .elf-container .row .col-1{
        display: block;
    }
    .elf-container .row .col-2{
        display: table-cell;
        width: 16.5%;
        overflow: hidden;
    }
    .elf-container .row .col-3{
        display: table-cell;
        width: 25%;
        overflow: hidden;
    }
    .elf-container .row .col-4{
        display: table-cell;
        width: 33%;
        overflow: hidden;
    }
    .elf-container .row .col-6{
        display: table-cell;
        width: 50%;
        overflow: hidden;
    }
    .elf-container .row .col-8{
        display: table-cell;
        width: 66.5%;
        overflow: hidden;
    }
    .elf-container .row .col-10{
        display: table-cell;
        width: 83%;
        overflow: hidden;
    }
    .elf-container .row .col-12{
        display: table-cell;
        width: 100%;
        overflow: hidden;
    }
}

@media  (min-width: 1024px){                            /* Media Desktop (no limit) */

    .elf-container .row .col-1{
        display: table-cell;
        width: 8.2%;
        overflow: hidden;
    }
    .elf-container .row .col-2{
        display: table-cell;
        width: 16.5%;
        overflow: hidden;
    }
    .elf-container .row .col-3{
        display: table-cell;
        width: 25%;
        overflow: hidden;
    }
    .elf-container .row .col-4{
        display: table-cell;
        width: 33%;
        overflow: hidden;
    }
    .elf-container .row .col-6{
        display: table-cell;
        width: 50%;
        overflow: hidden;
    }
    .elf-container .row .col-8{
        display: table-cell;
        width: 66.5%;
        overflow: hidden;
    }
    .elf-container .row .col-10{
        display: table-cell;
        width: 83%;
        overflow: hidden;
    }
    .elf-container .row .col-12{
        display: table-cell;
        width: 100%;
        overflow: hidden;
    }
}

