*{      /* MASTER CLEAR */
    margin: 0px;
    padding: 0px;
    border: none;
    text-decoration: none;
}
.container{
    margin: 12px;
    font-family: "Calibri Light"; /*Calibri*/
    font-size: 12pt;
    color: #202020;
}
.container-narrow{
    margin-left: 10%;
    margin-right: 10%;
}

.container h1{
    margin-top: 24px;
    font-family: "Calibri";
    margin-bottom: 12px;
}
.container h2{
    margin-top: 24px;
    font-family: "Calibri";
    margin-bottom: 12px;
}
.container h3{
    margin-top: 24px;
    font-family: "Calibri";
    margin-bottom: 12px;
}
.container h4{
    margin-top: 12px;
    font-family: "Calibri";
    margin-bottom: 12px;
}
.container h5{
    margin-top: 12px;
    font-family: "Calibri";
    margin-bottom: 12px;
}
.container h6{
    margin-top: 12px;
    font-family: "Calibri";
    margin-bottom: 12px;
}

.container p{
    margin-bottom: 4px;
}

.container .note{
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.container .note-default{
    background: #eeeeee;
    border: 1px solid gray;
    border-left: 5px solid gray
}
.container .note-blue{
    background: rgb(211, 211, 248);
    border: 1px solid rgb(34, 34, 109);
    border-left: 5px solid rgb(34, 34, 109);
}
.container .note-red{
    background: rgb(252, 201, 201);
    border: 1px solid rgb(87, 2, 2);
    border-left: 5px solid rgb(87, 2, 2);
}
.container .note-yellow{
    background: rgb(250, 240, 149);
    border: 1px solid rgb(224, 191, 0);
    border-left: 5px solid rgb(224, 191, 0);
}
.container .note-green{
    background: rgb(181, 248, 172);
    border: 1px solid rgb(8, 63, 1);
    border-left: 5px solid rgb(8, 63, 1);
}

.container a{
    color: rgb(214, 59, 3);
}
.container a:visited{
    color: rgb(180, 2, 171);
}
.container a:hover{
    text-decoration: underline;
}

/* Table */

.container .table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20;
}
.container .table thead th{
    padding: 10px;
}
.container .table tr td{
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid gray;
    font-family: "Calibri";
    text-align: center;
}

.container .table-default thead th{
    background: #eeeeee;
}
.container .table-default thead th:first-child, .container .table-default tr td:first-child{
    border-left: 4px solid gray;
}
.container .table-default thead th:last-child, .container .table-default tr td:last-child{
    border-right: 4px solid gray;
}
.container .table-blue thead th{
    background: rgb(211, 211, 248);
}
.container .table-blue thead th:first-child, .container .table-blue tr td:first-child{
    border-left: 4px solid rgb(34, 34, 109);
}
.container .table-blue thead th:last-child, .container .table-blue tr td:last-child{
    border-right: 4px solid rgb(34, 34, 109);
}
.container .table-red thead th{
    background: rgb(252, 201, 201);
}
.container .table-red thead th:first-child, .container .table-red tr td:first-child{
    border-left: 4px solid rgb(87, 2, 2);
}
.container .table-red thead th:last-child, .container .table-red tr td:last-child{
    border-right: 4px solid rgb(87, 2, 2);
}
.container .table-yellow thead th{
    background: rgb(255, 225, 125);
}
.container .table-yellow thead th:first-child, .container .table-yellow tr td:first-child{
    border-left: 4px solid rgb(173, 133, 0);
}
.container .table-yellow thead th:last-child, .container .table-yellow tr td:last-child{
    border-right: 4px solid rgb(173, 133, 0);
}
.container .table-green thead th{
    background: rgb(181, 248, 172);
}
.container .table-green thead th:first-child, .container .table-green tr td:first-child{
    border-left: 4px solid rgb(8, 63, 1);
}
.container .table-green thead th:last-child, .container .table-green tr td:last-child{
    border-right: 4px solid rgb(8, 63, 1);
}

/* Buttons */

.container .btn-default{
    color: white;
    background: #202020;
}
.container .btn-blue{
    color: rgb(211, 211, 248);
    background: rgb(34, 34, 109);
}
.container .btn-red{
    color:  rgb(252, 201, 201);
    background:  rgb(87, 2, 2);
}
.container .btn-yellow{
    color: rgb(255, 225, 125);
    background: rgb(173, 133, 0);
}
.container .btn-green{
    color: rgb(181, 248, 172);
    background: rgb(8, 63, 1);
}
.container .btn{
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Verdana;
}
.container .btn:hover{
    opacity: 0.7;
}
.container .btn:active{
    opacity: 1;
}

/* Text */

.container .ta-left{
    text-align: left;
}
.container .ta-right{
    text-align: right;
}
.container .ta-center{
    text-align: center;
}
.container .ta-justify{
    text-align: justify;
}
.container .tc-white{
    color: white;
}
.container .tc-blue{
    color: rgb(27, 27, 87);
}
.container .tc-red{
    color:  rgb(133, 0, 0);
}
.container .tc-yellow{
    color: rgb(173, 133, 0);
}
.container .tc-green{
    color: rgb(12, 94, 1);
}


.container .row{
    display: table;
    width: 100%;
}

@media  (max-width: 576px){                             /* Media Phone */

    .container .row .col-1{
        display: block;
    }

    .container .row .col-2{
        display: block;
    }

    .container .row .col-3{
        display: block;
    }

    .container .row .col-4{
        display: table-cell;
        width: 33%;
        overflow: hidden;
    }
    .container .row .col-6{
        display: table-cell;
        width: 50%;
        overflow: hidden;
    }
    .container .row .col-8{
        display: table-cell;
        width: 66.5%;
        overflow: hidden;
    }
    .container .row .col-10{
        display: table-cell;
        width: 83%;
        overflow: hidden;
    }
    .container .row .col-12{
        display: table-cell;
        width: 100%;
        overflow: hidden;
    }
}

@media  (min-width: 578px) and (max-width: 1023px){      /* Media Tablet */

    .container .row .col-1{
        display: block;
    }
    .container .row .col-2{
        display: table-cell;
        width: 16.5%;
        overflow: hidden;
    }
    .container .row .col-3{
        display: table-cell;
        width: 25%;
        overflow: hidden;
    }
    .container .row .col-4{
        display: table-cell;
        width: 33%;
        overflow: hidden;
    }
    .container .row .col-6{
        display: table-cell;
        width: 50%;
        overflow: hidden;
    }
    .container .row .col-8{
        display: table-cell;
        width: 66.5%;
        overflow: hidden;
    }
    .container .row .col-10{
        display: table-cell;
        width: 83%;
        overflow: hidden;
    }
    .container .row .col-12{
        display: table-cell;
        width: 100%;
        overflow: hidden;
    }
}

@media  (min-width: 1024px){                            /* Media Desktop (no limit) */

    .container .row .col-1{
        display: table-cell;
        width: 8.2%;
        overflow: hidden;
    }
    .container .row .col-2{
        display: table-cell;
        width: 16.5%;
        overflow: hidden;
    }
    .container .row .col-3{
        display: table-cell;
        width: 25%;
        overflow: hidden;
    }
    .container .row .col-4{
        display: table-cell;
        width: 33%;
        overflow: hidden;
    }
    .container .row .col-6{
        display: table-cell;
        width: 50%;
        overflow: hidden;
    }
    .container .row .col-8{
        display: table-cell;
        width: 66.5%;
        overflow: hidden;
    }
    .container .row .col-10{
        display: table-cell;
        width: 83%;
        overflow: hidden;
    }
    .container .row .col-12{
        display: table-cell;
        width: 100%;
        overflow: hidden;
    }
}

